:root {
  --absolute-white: #fff;
  --absolute-black: #000;
  --purple-55: #4a2ced;
  --purple-60: #5e43ef;
  --purple-70: #8672f3;
  --purple-80: #aea1f7;
  --purple-90: #d6d0fb;
  --purple-95: #eae7fd;
  --purple-97: #f3f1fe;
  --purple-99: #fbfaff;
  --dark-03: #070708;
  --dark-06: #0e0e10;
  --dark-08: #131316;
  --dark-12: #1c1c21;
  --dark-15: #232329;
  --dark-20: #2f2f37;
  --dark-25: #3b3b45;
  --dark-30: #474752;
  --grey-40: #62646c;
  --grey-50: #797c86;
  --grey-70: #afb0b6;
  --grey-80: #cacace;
  --grey-90: #e4e4e6;
  --grey-95: #f2f2f3;
  --grey-97: #f7f7f8;
  --grey-99: #fcfcfd;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 100px;
  height: 120px;
  width: 100%;
  border-bottom: 1px solid var(--dark-12);
}

.logoLink {
  padding: 0;
  border: none;
}

header nav {
  margin-top: 45px;
}

header a {
  text-decoration: none;
  font-family: Poppins;
  color: rgba(213, 212, 212, 0.545);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  transition: 0.3s all ease-out;
  padding: 25px 35px;
  border: 1px solid #282727;
}

header a:first-child {
  border-radius: 10px 0 0 0;
}

header a:last-child {
  border-radius: 0 10px 0 0;
}

header .isActive {
  color: #fff;
  background: #282727;
}

header button {
  border-radius: 10px;
  padding: 16px 24px;
  width: 148px;
  height: 59px;
  background: var(--dark-12);
  border: none;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--absolute-white);
}

header a:hover {
  color: #4a2ced;
}

header .isActive:hover {
  color: #fff;
  background: #282727;
}